<% content_for(:template_name) { "messages" }  %>

<div class="messages-header sticky-top bg-light">
      <div class="container">
        <div class="row">
          <%= link_to 'Home', root_path, class: 'btn btn-outline-success' %>
        </div>
      </div>
</div>

<div class="container messages-list" data-client-id="<%= @client.id %>">
  <%= render @messages %>
</div>

<div class="messages-form fixed-bottom pt-3 bg-light">
  <%= render "send_message_form", autofocus: @sendfocus.present? %>
</div>
