$blue:    #019C86;
$indigo:  #A6005E;
$purple:  #A6005E;
$pink:    #A6005E;
$red:     #D40000;
$orange:  #DEDED1;
$yellow:  #DEDED1;
$green:   #009933;
$teal:    #019C86;
$cyan:    #019C86;

$white:    #FAFAF9;
$gray-100: #EAEAE9;
$gray-200: #EAEAE9;
$gray-300: #EAEAE9;
$gray-400: #AAAAAA;
$gray-500: #AAAAAA;
$gray-600: #AAAAAA;
$gray-700: #333333;
$gray-800: #333333;
$gray-900: #333333;
$black:    #333333;
